<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head">
  <title>Department Info</title>
</head>
<body>
<div th:replace="header :: content"></div>
<h1 th:text="${department.name}"></h1>
<div class="container">

  <h2>Описание</h2>
  <table class="table">
    <tbody>
      <td th:text="${department.description}"></td>
    </tbody>
  </table>

  <h2>Преподаватели</h2>
  <table class="table">
    <tbody>
    <ul>
      <li th:each="teacher : ${teachers}" th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></li>
    </ul>
    </tbody>
  </table>

  <h2>Предметы</h2>
  <table class="table">
    <tbody>
    <ul>
      <li th:each="subject : ${subjects}" th:text="${subject.name}"></li>
    </ul>
    </tbody>
  </table>


  <h2>Студенты</h2>
  <table class="table">
    <tbody>
    <ul>
      <li th:each="student : ${students}" th:text="${student.firstName} + ' ' + ${student.lastName}"></li>
    </ul>
    </tbody>
  </table>
  <div class="text-left">
    <a th:href="@{/departments}" class="btn btn-primary btn-mm mb-3"> Вернуться назад к списку кафедр  </a>
  </div>
</div>
</body>
</html>