<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Departments</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="header :: content"></div>
<h1>Список кафедр</h1>
<div class="container">

  <table class="table">
    <thead>
    <tr>
      <th>№</th>
      <th>Кафедра</th>
      <th>Описание</th>
      <th class="text-center">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department, i : ${departments}">
      <td th:text="${i.index + 1}">1</td>
      <td th:text="${department.name}"></td>
      <td th:text="${department.description}"></td>
      <td>
        <div class="text-center">
          <a th:href="@{/deleteDepartment/{id}(id=${department.id})}" class="btn btn-danger btn-sm btn-block">Удалить</a>
          <a th:href="@{/editDepartmentForm/{id}(id=${department.id})}" class="btn btn-primary btn-sm btn-block">Изменить</a>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
  <div class="text-left">
    <a th:href="@{/showNewDepartmentForm}" class="btn btn-primary btn-mm mb-3"> Добавить Кафедру </a>
  </div>
</div>
</body>
</html>