<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head">
    <title>Форма кафедры</title>
</head>
<body>
<div th:replace="header :: content"></div>
<main class="container">
    <section class="jumbotron mt-3">
<h1 class="display-4" th:text="${title}">Форма кафедры</h1>
</section>
<div class="container">
    <form th:if="${department}" th:object="${department}" method="post"
          th:action="@{/saveDepartment}">
        <div class="form-group">
            <label for="name">Название кафедры:</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${department.name}"
                   required>
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <input type="text" class="form-control" id="description" name="description"
                   th:value="${department.description}" required>
        </div>
        <div class="form-group">
            <input type="hidden" th:field="*{id}">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</main>
</body>
</html>