<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head">
    <meta charset="utf-8">
    <title>Departments</title>
</head>
<body>
<div th:replace="header :: content"></div>
<main class="container">
    <section class="jumbotron mt-3">
        <h1 class="display-4">Список кафедр</h1>
    </section>

    <form class="form-inline" method="get" action="/departments">
        <div class="form-group">
            <a class="btn btn-default" href="/departments/sorted-by-num-students">По количеству студентов</a>
        </div>
        <div class="form-group">
            <a class="btn btn-default" href="/departments/sorted-by-num-teachers">По количеству преподователей</a>
        </div>
        <a class="btn btn-default" href="/departments">Сбросить фильтры</a>
    </form>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>Кафедра</th>
                <th>Кол</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry, i: ${departmentStudentCountMap}">
                <td th:text="${i.index + 1}">1</td>
                <td>
                    <a th:href="@{/departmentInfo/{departmentId}(departmentId=${entry.key.id})}" th:text="${entry.key.name}"></a>
                </td>
                <td th:text="${entry.value}"></td>
            </tr>
            </tbody>
        </table>
        <div class="text-left">
            <a th:href="@{/newDepartmentForm}" class="btn btn-primary btn-mm mb-3"> Добавить Кафедру </a>
        </div>
    </div>
</main>
</body>
</html>