<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="header">
    <div class="header">
        <div class="menu">
            <ul>
                <li class="active"><a href="http://localhost:8080">Home</a></li>
                <li><a href="http://localhost:8080/structure">Structure</a></li>
                <li><a href="http://localhost:8080/teacher/for-teacher">For Teachers</a></li>
                <li><a href="http://localhost:8080/student/for-student">For Students</a></li>
                <li><a href="http://localhost:8080">Events</a></li>
                <li><a href="http://localhost:8080">Galleries</a></li>
                <li><a href="http://localhost:8080">Contact</a></li>
                <li><a href="http://localhost:8080/login">Login</a></li>
                <li><a href="http://localhost:8080/register">Registration</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>