<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/structure.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="page">

    <div class="structure-container">
        <div th:each="department: ${departments}">
            <div class="square">
                <h2 th:text="${department.name}"></h2>
                <ul>
                    <li th:each="subject: ${subjects}" th:if="${subject.department.id == department.id}"
                        th:text="${subject.name}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>