<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head">
  <title>Форма преподавателя</title>
</head>
<body>
<div th:replace="header :: content"></div>
<h1 th:text="${title}">Форма преподавателя</h1>
<div class="container">
  <form th:if="${teacher}" th:object="${teacher}" method="post" th:action="@{/saveTeacher}">
    <div class="form-group">
      <label for="firstName">Имя:</label>
      <input type="text" class="form-control" id="firstName" name="firstName" th:value="${teacher.firstName}" required>
    </div>
    <div class="form-group">
      <label for="lastName">Фамилия:</label>
      <input type="text" class="form-control" id="lastName" name="lastName" th:value="${teacher.lastName}" required>
    </div>
    <div class="form-group">
      <label for="department">Кафедра:</label>
      <select class="form-control" id="department" name="department">
        <option value="">Не выбрано</option>
        <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"
                th:selected="${teacher.department != null and teacher.department.id == department.id}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="subject">Предметы:</label>
      <select class="form-control" id="subject" name="subjectIds" multiple>
        <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"
                th:selected="${#lists.contains(teacherSubjects, subject)}"></option>
      </select>
    </div>
    <div class="form-group">
      <input type="hidden" th:field="*{id}">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
</body>
</html>