<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование преподавателя</title>
</head>
<body>
<h1>Редактирование преподавателя</h1>
<form th:action="@{/dean/teachers/edit/{id}(id=${teacher.id})}" method="post" th:object="${teacher}">
  <input type="hidden" id="id" name="id" th:value="*{id}">
  <p>
    <label for="firstName">Имя:</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
  </p>
  <p>
    <label for="lastName">Фамилия:</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
  </p>
  <p>
    <label for="department">Кафедра:</label>
    <select id="department" name="department" th:field="*{department}" required>
      <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}" th:selected="${department.id == teacher.department.id}"></option>
    </select>
  </p>
  <button type="submit">Сохранить</button>
</form>
</body>
</html>